
<!DOCTYPE html>
<html>
<head>
    <title>Stock Info</title>
</head>
<body>
    <h1>Stock Information for <%= stockData.symbol %></h1>
    <p>Open: <%= stockData.open %></p>
    <p>High: <%= stockData.high %></p>
    <p>Low: <%= stockData.low %></p>
    <p>Close: <%= stockData.close %></p>
    <p>Volume: <%= stockData.volume %></p>
</body>
</html>
